body {
  background-image: url("adventuregram/road.png");
  background-size: cover;
}


header {
  display: flex;
  align-items: center;
}

h1{
  text-align: right;
  color: #263D28;
  padding-right: .5em;
}
h2 {
  text-align: left;
  padding-left: .5em;
  color: #345b37;
  font-size: 20px;
}

.centerbutton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%
}

.button#load {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 4px solid;
  font-size: larger;
  font-weight: bold;
}

#trips {
  background-color: rgba(245, 245, 245, 0.9);
  margin: 0;
}


.disappear{
  height: 0;
  display: none;
}
