
body {
  text-align: center;
}

.trip {
  display: inline-block;
  width: 300px;
  height: 300px;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: inline;
  margin-right: 10px;
}
