#message {
  font-family: 'Work Sans', sans-serif;
  font-size: 10em;
  text-shadow: 20px 10px 20px ##33ff66;
  z-index: 100;
  position: absolute;
  top: 70%;
}

#message p {
  font-size: 10em;
  text-shadow: 20px 10px 20px #eee;
  background-color: #33ff66;
  padding: 100%;
  height: 100%;
  font-style: oblique;
}

.panel {
  background-color: black;
  font-family: 'Courier', monospace;
  color: #33ff66;
  box-shadow: 0px 10px 20px #000;
  border-color: black;
}

.panel:hover {
  box-shadow: 0px 10px 40px #000;
}

.panel p {
  color: #33ff66;
}

.panel p:hover {
  background-color: #33ff66;
  color: black;
}

.panel label {
  color: #33ff66;
  font-weight: 400;
}

.panel input {
  background-color: #33ff66;
  color: black;
  border-color: black;
}

.panel input:focus {
  background-color: #33ff66;
  color: black;
  border-color: black;

}

.panel input::placeholder {
  color: black;
}

.panel button {
  border-color: #33ff66;
}

#globe {
  background-color: #000;
  // width: 25%;
  border-radius: 100%;
  box-shadow: 0px 10px 20px #000;
}

#globe:hover {
  box-shadow: 0px 10px 40px #000;
}

header {
  background: linear-gradient(70deg, #00FFD3, #33ff66);
  font-family: 'Work Sans', sans-serif;
}

header h1 {
  font-style: oblique;
  margin-right: 20%;
}

header h1:hover {
  text-shadow: 0px 10px 60px #000;
}

.spin-cw {
  @include mui-animation(spin(in, 360deg));
}

header:not(#globe):hover {
  background: linear-gradient(20deg, #33ff66,  #00FFD3);
}

.button {
  background-color: #000;
  font-family: 'Courier', sans-serif;
}

.button:hover {
  color: #33ff66;
  background-color: #000;
}

.button:active {
  background-color: #33ff66;
  color: black;
  border: 0px;
  box-shadow: 0;
}

.button:focus {
  background-color: black;
  border: 0px;
  box-shadow: 0;

}

.button:visited {
  background-color: black;
}
