
h1 {
  text-align: center;
}

h3 {
  padding: 8%;
  text-align: center;
}

nav {
  text-align: center;
}

.trip-details {
  border: 2px solid blue;
  margin: 10px;
}

#trips {
  border: 2px solid red;
  margin: 10px;
}

#book-trip-form {
  border: 2px solid green;
  /*display: hidden;*/
  margin: 10px;
}

/*.show-trip-form {
  border: 2px solid black;
  display: block;
  margin: 10px;
}*/
