body {
  background: #f6f6f6;
  color: #393945;
  font-family: 'Open Sans', sans-serif;
}

ul {
  margin: 0;
}

li {
  background: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
  list-style: none;
  margin: 0 auto 20px;
  max-width: 400px;
  padding-bottom: 20px;
}

h3, h5, .trip-details p:first-child, .flag {
  font-weight: bold;

}

h3 {
  font-size: 1.4em;
  padding: 0 20px;
}

h5 {
  margin: 0;
}

h5, .flag, .trip-details p:first-child {
  font-size: 0.7em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.featured-image {
  height: 480px;
  overflow: hidden;
}

.featured-image img{
  border-radius: 5px 5px 0 0;
}

article h3, .trip-details, .continent img{
  background: white;
}

.continent {
  margin-top: -24px;
  text-align: center;
}

.continent img{
  border-radius: 50%;
  height: auto;
  padding: 8px 4px;
  width: 44px;
}

.trip-info, .trip-details {
  padding: 10px 20px 0;
}

.trip-info p, .trip-details p{
  color: #a3a3a3;
}

.trip-details p:first-child {
  color: #393945;
  text-align: right;
}

.flag {
  background: gold;
  color: white;
  margin-top: -4px;
  padding: 4px 5px;
  position: relative;
}

.flag:after {
  border-bottom: 7px solid transparent;
  border-left: 11px solid gold;
  border-right: 11px solid gold;
  content: '';
  height: 14px;
  position: absolute;
  transform: rotate(-90deg);
  width: 0;
}

.trip-details p:last-child {
  font-size: 1.3em;
  text-align: right;
  font-weight: bold;
}
