body {
  margin: 5vw;
  padding: 5vw;
  margin-top: 0;
  padding-top: 0;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  font-size: 8vw;
  text-shadow: 2px 2px lightgrey;
}

h3{
  font-family: 'Roboto Mono', monospace;
}

.tripDetails h2, h5 {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.tripDetails {
  font-family: 'Roboto Condensed', sans-serif;
}

.tripListAll {
  padding-top: 2vw;
  /*display: inline-block;*/
  align-items: center;
  height: 200px;
  text-align: center;
  border-left: 1px black solid;
  border-right: 1px black solid;

}

#trips {
  margin-top: 2vw;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}

.button, button{
  color: white;
  font-family: 'Roboto Mono', monospace;
}

form {
  font-family: 'Roboto Condensed', sans-serif;
}
