@import url('https://fonts.googleapis.com/css?family=Bitter');

*, h1, h2, h3, h4, h5, .button{
  font-family: 'Bitter', serif;
}

.button, .trip-container, .reservation-form-container{
  border-radius: 10px;
}

body {
  background-color: steelblue;
}

header {
  background: #68edb8;
}

#nav-buttons, #site-title{
  text-align: center;
}

#nav-buttons a{
  margin-right: 40px;
}

.trip-container {
  background-color: #ccc;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.reservation-form-container{
  background-color: white;
}

.reservation-form-container form{
  padding: 20px;
}
