@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');

*, h1, h2, h3, h4, h5{
  font-family: 'Walter Turncoat', cursive, sans-serif;
}

body {
  /*background-image: url("http://eskipaper.com/images/shrek-4.jpg");*/
  background-color: steelblue;
}

header {
  background: #68edb8;
}

#nav-buttons, #site-title{
  text-align: center;
}

#nav-buttons a{
  margin-right: 40px;
}
