/*COLORS*/
/*light-blue: #D4F3FD*/
/*dark-blue: #147C9D*/


/*GENERAL*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Berkshire Swash';
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;

  position: relative;
  background: -webkit-linear-gradient(left top, #CCF5FC, #398694); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #CCF5FC, #398694); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #CCF5FC, #398694); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #CCF5FC, #398694); /* Standard syntax */

  background: url(../images/trek.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  min-height: 100%;


}

h1 {
  font-family: 'Berkshire Swash';
  font-size: 6rem;
  padding-top: 8rem;
}

#title {
  color: #fff;
}

@-webkit-keyframes glowing {
  0% { background-color: #D4F3FD; -webkit-box-shadow: 0 0 3px #D4F3FD; }
  50% { background-color: #034A62  ; -webkit-box-shadow: 0 0 40px #034A62  ; }
  100% { background-color: #D4F3FD; -webkit-box-shadow: 0 0 3px #D4F3FD; }
}

@-moz-keyframes glowing {
  0% { background-color: #D4F3FD; -moz-box-shadow: 0 0 3px #D4F3FD; }
  50% { background-color: #034A62  ; -moz-box-shadow: 0 0 40px #034A62  ; }
  100% { background-color: #D4F3FD; -moz-box-shadow: 0 0 3px #D4F3FD; }
}

@-o-keyframes glowing {
  0% { background-color: #D4F3FD; box-shadow: 0 0 3px #D4F3FD; }
  50% { background-color: #034A62  ; box-shadow: 0 0 40px #034A62  ; }
  100% { background-color: #D4F3FD; box-shadow: 0 0 3px #D4F3FD; }
}

@keyframes glowing {
  0% { background-color: #D4F3FD; box-shadow: 0 0 3px #D4F3FD; }
  50% { background-color: #034A62  ; box-shadow: 0 0 40px #034A62  ; }
  100% { background-color: #D4F3FD; box-shadow: 0 0 3px #D4F3FD; }
}

.blue {
  background: -webkit-linear-gradient(left top, #D4F3FD, #147C9D); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #D4F3FD, #147C9D); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #D4F3FD, #147C9D); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #D4F3FD, #147C9D); /* Standard syntax */
  text-shadow: 0 0 .8rem #075B69;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

#trips {
  display: block;
  margin: 1.5rem auto;
}

/*CLASSES*/
.white-text {
  font-family: 'Berkshire Swash';
  color: #fff;
  text-shadow: 0 0 .8rem #075B69;
}

/*TRIPS TABLE*/
.trips table {
  /*margin-bottom: 5rem; */
  border-collapse: separate;
  border-spacing: 0 .4rem;
}

.trips table tr td, .trips table tr th {
  padding: .8rem;
  font-size: 1.2rem;
}

.trips table thead, .trips table tbody {
  background: rgba(255, 255, 255, 0.7);
}

.trips table td {
  text-align: center;
}

.trips table tr:hover {
  text-shadow: 0 0 1rem #075B69;
  box-shadow: 0 0 1rem #075B69;
}

/*TRIP BLOCK*/
.trip {
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: 65%;
  max-width: 700px;
  background: #fff;
  padding: 1rem;
  overflow: scroll;
  box-shadow: 0 0 1rem #075B69;
}

.trip ul {
  padding: .5rem;
}

.input-form {
  width: 27%;
  display: inline-block;
}

#submit {
  margin-top: .7rem;
}

.trip li {
  /*font-weight: lighter;*/
  text-align: justify;
  list-style-type: none;
  margin: .5rem 0;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  /*#CCF5FC --> (204,245,252)*/
  /*#398694 --> (57,134,148)*/
  background: -webkit-linear-gradient(left top, rgba(204,245,252,.8), rgba(57,134,148,.8)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(204,245,252,.8), rgba(57,134,148,.8)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(204,245,252,.8), rgba(57,134,148,.8)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(204,245,252,.8), rgba(57,134,148,.8)); /* Standard syntax */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

#close {
  position: relative;
  height: 2rem;
  width: 2rem;
  padding: .3rem;
  margin: 0;
  float: right;
}

/*FOOTER*/
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
