body > section.trips > ul {
  list-style: none;
}
section.trips > ul > li {
  display: inline-block;
}

section.trips .trip-name {
  font-size: 1.5rem;
}

body.init {
  background-image: url('./mts-cow.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

body > div.init {
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

button.load {
  margin: 0;
  text-align: center;
  padding: 1.5rem 3.5rem;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
}

.load:hover {
  background-color: rgba(255, 255, 255, .3)
}

// body > header > menu.ul > li > a {
//   color: white;
// }
ul.menu > li.is-dropdown-submenu-parent > a {
  color: white;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
  border-top-color: white;
}

// $dropdownmenu-arrow-color: white;

section.trip {
  background-color: white;
}

header {
  background-image: url('./mts-cow.jpeg');
  background-size: cover;
  background-position: center;
}

.details p {
  margin: 0 auto;
}
